.flex_row_overall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.flex_row_dtl_fields {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: justify;
        margin: 0px 0px;
}

#flag {
    height: 300px;
}





.flex_col_dtl_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    margin: 0px 60px;
    height: 300px;
  }

  @media (max-width: 500px) {
    .phone {
        flex-direction: column;    
    }

    .phone .flex_col_dtl_info {
        margin: 0px 10px;    
    }

    .topLvlPdg.phone  {
        padding: 5px 3px;    
    }

    #flag {
        height: 150px;
        padding: 0px 0px 5px 0px;
    }
}